{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="css/index.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/index.js"></script>
{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}</h1>
    <div id="site-selection"></div>
    <div id="graphs">
        <canvas id="pages"></canvas>
        <canvas id="referrers"></canvas>
    </div>
{% endblock %}