{% extends "dashboard.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome, {{ request.user.username }}</h1>
    <p>This is the Shika dashboard, here you can view statistics of your websites. Use the links above to manage your sites or users.</p>

    <div class="row gx-2">
        <div class="col-auto">
            <select class="form-select" id="site-select">
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-2">
            <select class="form-select" id="time-select">
                <option value="86400">1 day</option>
                <option value="604800">7 days</option>
                <option value="2592000">30 days</option>
            </select>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pages</h5>
                    
                    <canvas id="pages"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Referrers</h5>

                    <canvas id="referrers"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Browsers</h5>

                    <canvas id="browsers"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Operating Systems</h5>

                    <canvas id="systems"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Devices</h5>

                    <canvas id="devices"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Countries</h5>

                    <canvas id="countries"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ "js/graphs.js" | vite }}"></script>
{% endblock %}