{% extends "dashboard.html.twig" %}

{% block title %}Sites{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Site key</th>
        </tr>

        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.name }}</td>
                <td><code>{{ site.site_key }}</code></td>
            </tr>
        {% endfor %}
    </table>

    <form action="" method="post">
        <input type="text" name="name" required placeholder="Enter name">

        <input type="submit" value="Add site">
    </form>
{% endblock %}