{% extends "dashboard.html.twig" %}

{% block title %}Sites{% endblock %}

{% block content %}
    <h1>Sites</h1>
    <p>Manage your sites here, you can see existing sites or add a new one.</p>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Site key</th>
        </tr>

        {% if sites|length < 1 %}
            <tr>
                <td colspan="3" class="text-center">You have no sites, add one below.</td>
            </tr>
        {% endif %}

        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.name }}</td>
                <td><code>{{ site.site_key }}</code></td>
            </tr>
        {% endfor %}
    </table>

    <form action="" method="post" class="row gx-2">
        <input type="hidden" name="token" value="{{ csrf_token() }}">

        <div class="col-auto">
            <input type="text" class="form-control" name="name" required placeholder="Enter a name">
        </div>

        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="Add site">
        </div>
    </form>
{% endblock %}