{% import "helpers.html.twig" as helpers %}

{% extends "dashboard.html.twig" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users</h1>
    <p>Manage your users here, you can see the current users or add a new one.</p>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ helpers.role_to_string(user.role) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}