{% import "helpers.html.twig" as helpers %}

{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-light-subtle">
        <div class="container">
            <a class="navbar-brand" href="/">Shika</a>

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{ helpers.navbar_active("/") }}" href="/">Home</a>
                    </li>
                    {% if user_is_manager(request.user) %}
                        <li class="nav-item">
                            <a class="nav-link {{ helpers.navbar_active("/sites") }}" href="/sites">Sites</a>
                        </li>
                    {% endif %}

                    {% if user_is_admin(request.user) %}
                        <li class="nav-item">
                            <a class="nav-link {{ helpers.navbar_active("/users") }}" href="/users">Users</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
{% endblock %}