#site-selection {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-bottom: 10em;
}

#site-selection > div {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 50vw;
}

#site-selection > div:hover {
    background-color: #ddd;
    cursor: pointer;
}

#site-selection > div.selected {
    background-color: #acebac;
}

#graphs {
    display: flex;
    align-items: center;
    justify-content: center;
}

#graphs > canvas {
    max-width: 50vw;
    max-height: 50vh;
}