body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 90vh;
}

form > * {
    margin-top: .5em;
}

.alert {
    position: absolute;
    width: 100vw;
    background-color: #B71C1C;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    padding-bottom: .8em;
    padding-top: .8em;
    font-size: 1em;
}