{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error is defined %}
        <div class="top-alert">{{ error }}</div>
    {% endif %}

    <form action="" method="post" class="d-flex justify-content-center align-items-center flex-column login">
        <div class="mb-2 form-group">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text" id="usernameInput" name="username" class="form-control" required autofocus value="{{ username|default }}" placeholder="Enter a username">
        </div>

        <div class="mb-2 form-group">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" id="passwordInput" name="password" class="form-control" required placeholder="Enter a password">
        </div>

        <input type="submit" class="btn btn-primary" value="Login">
    </form>
{% endblock %}