.login {
    height: 90vh;
}

@media (min-width: 540px) {
    .login .form-group {
        width: 250px;
    }
}

@media (max-width: 540px) {
    .login .form-group {
        width: 100%;
    }
}

.login input[type=submit] {
    width: 10vh;
}

.top-alert {
    position: absolute;
    width: 100%;
    background-color: $danger;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    padding-bottom: .8em;
    padding-top: .8em;
}
